 <style>
    
    * {
    margin: 0;
    padding: 0;
}
body {
    background-color: grey;
    font: normal 13px/1.5;
    font-family: 'Roboto Condensed', sans-serif;
    color: #333;
}
.atas {
    width: 705px;
    margin: 20px auto;
    padding: 20px;
}
h1 {
    display: inline-block;
    background-color: #fff;
    color: gray;
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    padding: 4px 20px;
    float: left;
    border-radius: 50px;
    margin-left: 200px;
}
        
.clear {
    clear: both;
}
.items {
    display: block;
    margin: 20px 0;
}
.item {
    background-color: #fff;
    float: left;
    margin: 0 11px 10px 10px;
    width: auto;
    padding: 10px;
    height: auto;
     
}
.item img {
    display: block;
    margin: auto;
    transition: transform .2s;
}

.item img:hover{
    transform: scale(1.5);
}
h2 {
    font-size: 12px;
    display: block;
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
    padding: 0 0 5px 0;
}
button {
    border: 1px solid gray;
    padding: 4px 14px;
    background-color: gray;
    color: #fff;
    text-transform: uppercase;
    float: right;
    margin: 5px 0;
    font-weight: 400;
    cursor: pointer;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 50px;
    
}
button:focus{
    outline: none !important;
}
span {
    float: right;
}
        
p{
    font-size: 14px;
}
.tujuan-wisata {
    display: inline-block;
    background: url(cart.png) no-repeat 0 0;
    width: 30px;
    height: 30px;
    position: fixed;
}
    